<table style="width: 100%">
  <tr>
    <td style="vertical-align: top; width: 33%">
      <h3>Files</h3>
      <% files_links.each do |link| %>
        <%= link %><br>
      <% end %>
    </td>
    <td style="vertical-align: top; width: 33%">
      <h3>Scopes</h3>
      <% scopes_links.each do |link| %>
        <%= link %><br>
      <% end %>
    </td>
    <td style="vertical-align: top; width: 33%">
      <h3>Props</h3>
      <% props_links.each do |link| %>
          <%= link %><br>
        <% end %>
    </td>
  </tr>
</table>

