<html>
  <head>
    <title><%= body.title %></title>
  </head>
  <body>
    <header>
      <%= header.html %>
    </header>
    <div>
      <%= body.html %>
    </div>
    <footer>
      <%= footer.html %>
    </footer>
  </body>
</html>
